# IDE
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
.env
*.egg-info/
dist/
build/

# 系统文件
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.log
*.tmp
*.bak
*.swp

# 输出文件夹
xlsx_output/
